<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Страница жанров</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

<div th:replace="~{fragments :: page-header('Управление жанрами', 'Полный список жанров')}"></div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Жанры:</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments :: footer}"></div>

<script>
    $(function () {
        $.get('/api/genres').done(function (genres) {
            genres.forEach(function (genre) {
                $('tbody').append(`
                    <tr>
                        <td>${genre.name}</td>
                    </tr>
                `)
            })
        })
    })
</script>
</body>
</html>