<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Страница авторов</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div th:replace="~{fragments :: page-header('Управление авторами', 'Полный список авторов')}"></div>

<div class="container">
    <th:block th:if="${authors != null and not authors.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>Автор</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.fullName}"></td>
            </tr>
            </tbody>
        </table>

    </th:block>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>