<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Информация о книге</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{fragments :: page-header('Подробная информация о книге', '')}"></div>

<div class="container">
    <th:block th:if="${book != null}">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанры</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${book.title()}"></td>
                <td th:text="${book.authorName()}"></td>
                <td th:text="${book.genres()}"></td>
            </tr>
            </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>Комментарии:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.text()}"></td>
            </tr>
            <tr>
                <td>
                    <form method="post" th:action="@{/book/comment}">
                        <input name="bookId" th:value="${book.id}" type="hidden">
                        <input name="text" placeholder="Ваш комментарий" required type="text">
                        <button class="btn-edit" type="submit">Добавить комментарий</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
        <a th:href="@{/books/{id}/edit(id=${book.id})}">Редактировать</a>
        <td>
            <form class="delete-form" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту книгу?');"
                  th:action="@{/books/{id}(id=${book.id})}">
                <input name="_method" type="hidden" value="DELETE"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </th:block>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>