<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Страница жанров</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div th:replace="~{fragments :: page-header('Управление жанрами', 'Полный список жанров')}"></div>

<div class="container">
    <th:block th:if="${genres != null and not genres.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>Жанры:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.name}"></td>
            </tr>
            </tbody>
        </table>

    </th:block>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>