<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/style.css">
    <title>Добро пожаловать | ДЗ №12 | Otus Spring</title>
</head>

<body>

<div th:replace="~{fragments :: page-header('Библиотека книг', '')}"></div>

<div class="container">
    <h3>Все книги</h3>
    <p>Просмотр и управление книгами</p>
    <a href="/books">Перейти на страницу с книгами</a>

    <h3>Все авторы</h3>
    <p>Просмотр и управление авторами</p>
    <a href="/authors">Перейти на страницу с авторами</a>
    <h3>Все жанры</h3>
    <p>Просмотр и управление жанрами</p>
    <a href="/genres">Перейти на страницу с жанрами</a>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>


