<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Информация о книге</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div th:replace="~{fragments :: page-header('Редактирование книги', '')}"></div>

<div class="container">
    <th:block th:if="${book != null}">
        <form id="book-edit-form" action="editbook.html" th:action="@{/book}" th:method="post"
              th:object="${book}">
            <input type="hidden" name="_method"
                   th:value="${book.id != 0} ? 'PUT' : 'POST'" />
           <div class="row">
                <input id="id-input" type="text" hidden="true" name="id" th:value="*{id}" value="1"/>
            </div>
            <div class="row">
                <label for="book-title-input">Название:</label>
                <input id="book-title-input" type="text" name="title" th:value="*{title}" value="1"/>
                <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong title</div>
            </div>
            <div class="row">
                <label for="author-select"> Автор:</label>
                <select id="author-select" th:field="*{authorId}">
                    <option value="">-- Выберите автора --</option>
                    <option th:each="authorDto : ${authors}"
                            th:value="${authorDto.id()}"
                            th:text="${authorDto.fullName()}"
                            th:selected="${authorId != null and authorId == authorDto.id()}">
                    </option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}">Wrong author</div>

            </div>
            <div class="row">
                <label for="genres-select"> Жанры:</label>
                <select id="genres-select" name="genreIds" multiple size="10">
                    <option th:each="genreDto : ${genres}"
                            th:value="${genreDto.id()}"
                            th:text="${genreDto.name()}"
                            th:selected="${book.genreIds != null and book.genreIds().contains(genreDto.id())}">
                    </option>
                </select>
                <div class="errors" th:if="${#fields.hasErrors('genreIds')}" th:errors="*{genreIds}">Wrong genres</div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-save"></i> Сохранить
                </button>
                <a th:href="@{/books}" class="btn btn-outline-secondary">
                    <i class="bi bi-x-circle"></i> Отменить
                </a>
            </div>

        </form>
    </th:block>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>