<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Страница книг</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{fragments :: page-header('Просмотр библиотеки', 'Полный список книг')}"></div>

<div class="container">
    <th:block th:if="${books != null and not books.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанры</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td><a th:href="@{/book/{id}(id=${book.id})}" th:text="${book.title()}"> </a></td>
                <td th:text="${book.authorName()}"></td>
                <td th:text="${book.genres()}"></td>
                <td><a th:href="@{/books/{id}/edit(id=${book.id})}">Редактировать</a></td>
                <td>
                    <form class="delete-form" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить книгу ' + this.getAttribute('book-title') + '?');"
                          th:action="@{/books/{id}(id=${book.id})}"
                          th:attr="book-title = ${book.title()}">
                        <input name="_method" type="hidden" value="DELETE"/>
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </td>
            </tr>
            </tbody>
        </table>
        <a class="btn-add" th:href="@{/books/create}">Новая книга</a>
    </th:block>
</div>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>